* {
    box-sizing: border-box;
}

/*General CSS*/
body {
    margin: 0;
    padding: 0;
    background-size:cover;
    background-repeat: no-repeat;
}

ul {
    margin: 0;
    padding: 0;
}

h1, h3 {
    font-weight: normal;
}

/*Name, Greeting, Clock, Quotes, CSS*/
input[type=text], textarea {
    background-color: inherit;
}

.container {
    background-color: inherit;
    color:white;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#name-container {
    margin-top: 30vh;
}

#name-label {
    display: flex;
    justify-content: center;
}

#name-input {
    font-size: xx-large;
    text-align: center;
    width: 300px;
    color: white;
    background-color: inherit;
    border-radius: 4px 4px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}

#name-submit {
    font-size: xx-large;
}

#edit-container, #quotes-display {
    display: none;
}

#clock {
    display: none;
    font-size: xx-large;
}

#name-edit {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 47vw;
    margin-right: 4vw;
    width: 100px;
    color: white;
    background-color: inherit;
    border-style: hidden;
}

#greet-container {
    background-color: inherit;
    color:white;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

#footer {
    background-color: inherit;
    color:white;
    display: flex;
    flex-direction: row;
    margin-top: 250px;
    justify-content: space-between;
}

#quotes-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: fixed;
    left: 2%;
    bottom: 0;
}

#quote-text {
    width: 50vw;
}

/*Todo List CSS*/
#listButton {
    display: none;
    bottom: 5%;
    right: 5%;
    position: fixed;
    background-color: inherit;
    color: white;
    font-size: large;
    border-style: hidden;
}

#listModal {
    display: none;
    position: fixed;
    bottom: 10%;
    right: 1px;
}

#listModal::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 75%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#listInput {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    background-color: inherit;
    color: white;
}

#todo-list-container {
    background-color: #555;
    text-align: left;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 30px;
    background: transparent;
    font-size: 18px;
    transition: 0.2s;
    list-style-type: none;
}

ul li:nth-child(odd) {
    background: transparent;
}

ul li:hover {
    background: grey;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.edit {
    position: absolute;
    right: 15%;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.edit:hover {
    background-color: darkgoldenrod;
    color: white;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.header {
    background-color: transparent;
    padding: 10px 20px;
    color: white;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background-color: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}